.body {
  background: rgb(3, 29, 19);
  background: linear-gradient(
    45deg,
    rgba(3, 29, 19, 1) 35%,
    rgba(6, 88, 65, 1) 35%,
    rgba(4, 43, 30, 1) 48%,
    rgba(6, 98, 73, 1) 48%
  );
  background-attachment: fixed;
  width: 100%;
  
}

.body1 {
  background: rgb(3, 29, 19);
  background: linear-gradient(
    45deg,
    rgba(3, 29, 19, 1) 35%,
    rgba(6, 88, 65, 1) 35%,
    rgba(4, 43, 30, 1) 48%,
    rgba(6, 98, 73, 1) 48%
  );
  background-attachment: fixed;
  width: 100%;

}

.boxes {
  max-width: 30%;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.2);
}
.header {
  color: #ffffff;
  text-align: center;
  font-size: 42px;
}

.boxName {
  color: #ffffff;
}

.legend {
  color: rgb(232, 241, 101);
  padding: 10px;
  font-size: large;
}

.line {
    border: 1px solid rgb(232, 241, 101);
    max-width: 20%;
    margin: 35px auto 20px;

}

.agreement {
    color: #ffffff;
    text-align: left;
    
}

.checkBox {
  background: rgb(232, 241, 101);
}

.agreement--button { 
  color: rgba(3, 29, 19, 1) 35%;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}

.agreement--submit {
  background: rgb(232, 241, 101);
  font-weight: bolder;
  padding: 5px 20px;
  border-radius: 10px ;
}